PruebaTecnicaSolution/PruebaTecnica/Connected Services/ServiceReference/PtWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50191/PtWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" />
  <xs:element name="NuevaEntrevista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="entrevista" nillable="true" type="q1:Entrevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaEntrevistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevaEntrevistaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEntrevista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="entrevista" nillable="true" type="q2:Entrevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEntrevistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarEntrevistaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReclutadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReclutadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="ObtenerReclutadoresResult" nillable="true" type="q3:ArrayOfReclutadore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCandidatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCandidatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="ObtenerCandidatosResult" nillable="true" type="q4:ArrayOfMyJsonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEntrevistas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEntrevistasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="ObtenerEntrevistasResult" nillable="true" type="q5:ArrayOfEntrevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTecnologias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTecnologiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="ObtenerTecnologiasResult" nillable="true" type="q6:ArrayOfTecnologia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoTecnologias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoTecnologiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" minOccurs="0" name="ObtenerTipoTecnologiasResult" nillable="true" type="q7:ArrayOfTipoTecnologia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>