PruebaTecnicaSolution/PruebaTecnica/Connected Services/ServiceReference/PtWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PtWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50191/PtWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50191/PtWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50191/PtWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaTecnicaLibrary.Vo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPtWcf_NuevaEntrevista_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaEntrevista" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_NuevaEntrevista_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaEntrevistaResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_EditarEntrevista_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEntrevista" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_EditarEntrevista_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEntrevistaResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerReclutadores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReclutadores" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerReclutadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReclutadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerCandidatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCandidatos" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerCandidatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCandidatosResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerEntrevistas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEntrevistas" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerEntrevistas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEntrevistasResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerTecnologias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTecnologias" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerTecnologias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTecnologiasResponse" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerTipoTecnologias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoTecnologias" />
  </wsdl:message>
  <wsdl:message name="IPtWcf_ObtenerTipoTecnologias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoTecnologiasResponse" />
  </wsdl:message>
  <wsdl:portType name="IPtWcf">
    <wsdl:operation name="NuevaEntrevista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/NuevaEntrevista" message="tns:IPtWcf_NuevaEntrevista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/NuevaEntrevistaResponse" message="tns:IPtWcf_NuevaEntrevista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEntrevista">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/EditarEntrevista" message="tns:IPtWcf_EditarEntrevista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/EditarEntrevistaResponse" message="tns:IPtWcf_EditarEntrevista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReclutadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/ObtenerReclutadores" message="tns:IPtWcf_ObtenerReclutadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/ObtenerReclutadoresResponse" message="tns:IPtWcf_ObtenerReclutadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCandidatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/ObtenerCandidatos" message="tns:IPtWcf_ObtenerCandidatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/ObtenerCandidatosResponse" message="tns:IPtWcf_ObtenerCandidatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEntrevistas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/ObtenerEntrevistas" message="tns:IPtWcf_ObtenerEntrevistas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/ObtenerEntrevistasResponse" message="tns:IPtWcf_ObtenerEntrevistas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTecnologias">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/ObtenerTecnologias" message="tns:IPtWcf_ObtenerTecnologias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/ObtenerTecnologiasResponse" message="tns:IPtWcf_ObtenerTecnologias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoTecnologias">
      <wsdl:input wsaw:Action="http://tempuri.org/IPtWcf/ObtenerTipoTecnologias" message="tns:IPtWcf_ObtenerTipoTecnologias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPtWcf/ObtenerTipoTecnologiasResponse" message="tns:IPtWcf_ObtenerTipoTecnologias_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPtWcf" type="tns:IPtWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevaEntrevista">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/NuevaEntrevista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEntrevista">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/EditarEntrevista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReclutadores">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/ObtenerReclutadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCandidatos">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/ObtenerCandidatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEntrevistas">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/ObtenerEntrevistas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTecnologias">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/ObtenerTecnologias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoTecnologias">
      <soap:operation soapAction="http://tempuri.org/IPtWcf/ObtenerTipoTecnologias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PtWcf">
    <wsdl:port name="BasicHttpBinding_IPtWcf" binding="tns:BasicHttpBinding_IPtWcf">
      <soap:address location="http://localhost:50191/PtWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>